<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sw0b_001">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents"
        android:usesCleartextTraffic="true">
        <activity android:name=".ListPlatforms.Emails.EmailSingleThreads" android:parentActivityName=".ListPlatforms.Emails.EmailMultipleThreads" android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListPlatforms.Emails.EmailMultipleThreads" />
        </activity>
        <activity android:name=".ListPlatforms.Emails.EmailBody" android:parentActivityName=".ListPlatforms.Emails.EmailMultipleThreads" android:label="View message">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListPlatforms.Emails.EmailMultipleThreads" />
        </activity>
        <activity
            android:name=".ListPlatforms.Emails.EmailMultipleThreads"
            android:label="Recents..."
            android:parentActivityName=".Platforms">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Platforms" />
        </activity>
        <activity
            android:name=".Permissions"
            android:label="Permission"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".Platforms"
            android:label="Usable Platforms" />
        <activity
            android:name=".ListPlatforms.Emails.EmailCompose"
            android:parentActivityName=".ListPlatforms.Emails.EmailMultipleThreads"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListPlatforms.Emails.EmailMultipleThreads" />
        </activity>
        <activity
            android:name=".QRScanner"
            android:label="QR Scanner"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>