<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sw0b_001">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents"
        android:usesCleartextTraffic="true">
        <activity android:name=".EmailThreadActivity" android:parentActivityName=".EmailThreadsActivity" android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EmailThreadsActivity" />
        </activity>
        <activity android:name=".EmailBody" android:parentActivityName=".PlatformsActivity" android:label="...">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlatformsActivity" />
        </activity>
        <activity
            android:name=".EmailThreadsActivity"
            android:label="Recents..."
            android:parentActivityName=".PlatformsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlatformsActivity" />
        </activity>
        <activity
            android:name=".PermissionsActivity"
            android:label="Permission"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".PlatformsActivity"
            android:label="Usable Platforms" />
        <activity
            android:name=".EmailComposeActivity"
            android:parentActivityName=".PlatformsActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlatformsActivity" />
        </activity>
        <activity
            android:name=".QRScannerActivity"
            android:label="QR Scanner"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>